<div>
  <mat-form-field class="w-full mt-2">
    <mat-label>{{ label() }}</mat-label>
    <input
      matNativeControl
      [type]="type()"
      [name]="name()"
      [placeholder]="placeholder()"
      [disabled]="disabled"
      (input)="onInputChange($event)"
    />
    @if (isPassword()) {
    <mat-icon
      (click)="togglePasswordInput()"
      class="cursor-pointer"
      matSuffix
      >{{ showPasswordInput() ? "visibility" : "visibility_off" }}</mat-icon
    >
    }
  </mat-form-field>

  @if (formControl?.invalid && (formControl?.dirty || formControl?.touched) ) {
  <div class="flex items-start">
    @if (formControl?.hasError('required')) {
    <div>This field is required</div>
    } @if (formControl?.hasError('email')) {
    <div>This field has to be a valid email address</div>
    } @if (formControl?.hasError('minlength')) {
    <div>Password must be at least 8 characters long</div>
    }
  </div>
  }
</div>
