<div class="flex flex-col items-center justify-center w-full">
  <h3 mat-dialog-title>Change Your Password</h3>
  <mat-dialog-content class="w-full">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="w-full">
        <mat-label>New Password</mat-label>
        <input
          matInput
          formControlName="password"
          type="password"
          name="password"
        />
        @if (passwordControl?.invalid && (passwordControl?.dirty ||
        passwordControl?.touched) ) {
        <div class="flex items-start">
          @if (passwordControl?.hasError('required')) {
          <mat-error>This field is required</mat-error>
          } @else if(passwordControl?.hasError('minlength')) {
          <mat-error>Password must be at least 8 characters long</mat-error>
          }
        </div>
        }
      </mat-form-field>
      <mat-dialog-actions>
        <button mat-flat-button [disabled]="passwordForm.invalid">Save</button>
        <button mat-button mat-dialog-close>Cancel</button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</div>
