<div class="flex items-center justify-center bg-gray-300 h-screen">
  <div class="text-center bg-[#e8f5e9] w-1/3 p-8 rounded-xl py-10">
    <span class="text-5xl text-blue-700">Sign Up</span>
    <form class="flex flex-col items-center mt-8">
      <app-auth-input
        class="w-full"
        label="Username"
        inputType="text"
        name="username"
        placeholder="Type your username"
      />
      <app-auth-input
        class="w-full"
        [isPassword]="true"
        label="Password"
        inputType="password"
        name="password"
        placeholder="Enter a password"
      />
      <app-auth-input
        class="w-full"
        [isPassword]="true"
        label="Repeat a password"
        inputType="password"
        name="password-confirmation"
        placeholder="Confirm a password"
      />
      <div class="w-full flex gap-4">
        <button mat-flat-button type="submit" class="w-1/4">Register</button>
        <button mat-stroked-button type="button">Sign in</button>
      </div>
    </form>
  </div>
</div>
