<app-layouts-auth-form title="Sign up">
  <form
    [formGroup]="signupForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col items-center mt-8"
  >
    <app-auth-input
      formControlName="email"
      class="w-full"
      label="Email"
      inputType="email"
      name="email"
      placeholder="Type an email"
      [form]="signupForm"
    />
    <app-auth-input
      formControlName="password"
      class="w-full"
      [isPassword]="true"
      label="Password"
      inputType="password"
      name="password"
      placeholder="Enter a password"
      [form]="signupForm"
    />
    @if (signupForm.get('password')?.hasError('minLength')) {
    <p>Heere!</p>
    }
    <app-auth-input
      formControlName="password_confirmation"
      class="w-full"
      [isPassword]="true"
      label="Repeat a password"
      inputType="password"
      name="password_confirmation"
      placeholder="Confirm a password"
      [form]="signupForm"
    />
    <div class="w-full flex gap-4">
      <button
        [disabled]="signupForm.invalid"
        ngProjectAs="form-buttons"
        mat-flat-button
        type="submit"
        class="w-1/4"
      >
        Register
      </button>
      <button
        routerLink="/signin"
        ngProjectAs="form-buttons"
        mat-stroked-button
        type="button"
      >
        Sign in
      </button>
    </div>
  </form>
</app-layouts-auth-form>
