<app-layouts-auth-form title="Sign up">
  <app-auth-input
    class="w-full"
    label="Username"
    inputType="text"
    name="username"
    placeholder="Type your username"
  />
  <app-auth-input
    class="w-full"
    [isPassword]="true"
    label="Password"
    inputType="password"
    name="password"
    placeholder="Enter a password"
  />
  <app-auth-input
    class="w-full"
    [isPassword]="true"
    label="Repeat a password"
    inputType="password"
    name="password-confirmation"
    placeholder="Confirm a password"
  />
  <button
    ngProjectAs="form-buttons"
    mat-flat-button
    type="submit"
    class="w-1/4"
  >
    Register
  </button>
  <button ngProjectAs="form-buttons" mat-stroked-button type="button">
    Sign in
  </button>
</app-layouts-auth-form>
