<form>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input
      matNativeControl
      type="text"
      name="username"
      placeholder="Type your username"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      matNativeControl
      type="password"
      name="password"
      placeholder="Enter a password"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Repeat Password</mat-label>
    <input
      matNativeControl
      type="password"
      name="password-confirmation"
      placeholder="Repeat a password"
    />
  </mat-form-field>
</form>
