<app-layouts-auth-form title="Sign in">
  <form
    [formGroup]="signinForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col mt-8"
  >
    <app-auth-input
      formControlName="email"
      class="w-full"
      label="Email"
      inputType="email"
      name="email"
      placeholder="Enter your email"
      [form]="signinForm"
    />
    <app-auth-input
      formControlName="password"
      class="w-full"
      label="Password"
      inputType="password"
      name="password"
      placeholder="Enter your password"
      [form]="signinForm"
    />
    <div class="w-full flex gap-4">
      <button
        ngProjectAs="form-buttons"
        mat-flat-button
        type="submit"
        class="w-1/4"
        [disabled]="signinForm.invalid"
      >
        Sign in
      </button>
      <button
        routerLink="/signup"
        ngProjectAs="form-buttons"
        mat-stroked-button
        type="button"
      >
        Register
      </button>
    </div>
  </form>
</app-layouts-auth-form>
