<app-layouts-auth-form title="Sign in">
  <!-- <app-auth-input
    class="w-full"
    label="Username"
    inputType="text"
    name="username"
    placeholder="Type your username"
  />
  <app-auth-input
    class="w-full"
    [isPassword]="true"
    label="Password"
    inputType="password"
    name="password"
    placeholder="Enter a password"
  /> -->
  <button
    ngProjectAs="form-buttons"
    mat-flat-button
    type="submit"
    class="w-1/4"
  >
    Sign in
  </button>
  <button
    routerLink="/signup"
    ngProjectAs="form-buttons"
    mat-stroked-button
    type="button"
  >
    Register
  </button>
</app-layouts-auth-form>
