<div class="flex justify-center py-20">
  <div
    class="w-1/3 flex flex-col items-center justify-center border px-8 py-8 border-gray-600 rounded-lg"
  >
    <h3 class="text-gray-600">Your Profile Details</h3>
    @if ((profileStatus$ | async) === 'success') {
    <div class="flex flex-col items-start w-full">
      <button mat-flat-button class="ml-auto my-8">Change your password</button>
      <app-profile-input
        class="w-full"
        inputTitle="Name"
        [inputValue]="(profile$ | async)?.name || 'Add your name here'"
      />
      <app-profile-input
        class="w-full"
        inputTitle="Email"
        [inputValue]="(profile$ | async)?.email || ''"
      />
    </div>
    } @else if((profileStatus$ | async) === 'loading') {
    <div class="flex items-center justify-center w-full">
      <app-spinner />
    </div>
    } @else if ((profileStatus$ | async) === 'error') {
    <span class="text-2xl text-red-600">An error occured. Try again.</span>
    }
  </div>
</div>
